h1 {
  text-align: center;
  color: #e33b7e;
}

hr {
  border-top: 1px solid #201f2e;
}

.card-header h4 {
  margin: 0;
}

h4 i {
  margin-right: 10px;
}

form h4 {
  color: #9085ad;
}

form h5 {
  margin-bottom: 10px;
}

form h5 i {
  margin-right: 10px;
}

form select {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
  margin-left: 35px;
}

.cart-hidden {
  display: none;
}

i {
  color: #99e64c
}

.bg-dark-purple {
  background-color: #2f293d
}

.bg-dark-blue {
  background-color: #201f2e;
}

.bg-purple {
  background-color: #5838a8;
}

.text-magenta {
  color: #e33b7e
}

.btn-primary {
  color: #201f2e;
  background-color: #99e64c;
  border-color: #99e64c;
}

.btn-primary:hover {
  color: #201f2e;
  background-color: #598a28;
  border-color: #598a28;
}

.btn-primary:focus, .btn-primary.focus {
  color: #201f2e;
  background-color: #598a28;
  border-color: #598a28;
  -webkit-box-shadow: #201f2e;
          box-shadow: #201f2e;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #201f2e;
  background-color: #598a28;
  border-color: #598a28;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: #201f2e;
          box-shadow: #201f2e;
}


.btn-secondary {
  color: #201f2e;
  background-color: #e33b7e;
  border-color: #e33b7e;
}

.btn-secondary:hover {
  color: #201f2e;
  background-color: #931f4e;
  border-color: #931f4e;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #201f2e;
  background-color: #931f4e;
  border-color: #931f4e;
  -webkit-box-shadow: #201f2e;
          box-shadow: #201f2e;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #201f2e;
  background-color: #931f4e;
  border-color: #931f4e;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: #201f2e;
          box-shadow: #201f2e;
}

.text-green {
  color: #99e64c
}

.pizza-cart-container {
  display: none;
}

.pizza-cart-container:not(:first-of-type) {
  margin-top: 20px;
}

.pizza-cart-container i{
  color: #e33b7e;
}

.pizza-name-cart {
  margin-bottom: 5px;
}

.cart-results {
  margin-left: 35px;
}

.cart-shown {
  font-size: 1.5rem;
  color: #52476b
}

.cart-icon {
  font-size: 8rem;
  text-align: center;
}

.bg-icon {
  color: #52476b
}