h1 {
  text-align: center;
  color: #e33b7e;
}

hr {
  border-top: 1px solid #222;
}

.card-header h4 {
  margin: 0;
}

.cart-hidden {
  display: none;
}

i {
  color: #99e64c
}

.bg-dark-purple {
  background-color: #2f293d
}

.bg-dark-blue {
  background-color: #201f2e;
}

.bg-purple {
  background-color: #5838a8;
}

.text-magenta {
  color: #e33b7e
}

.btn-primary {
  color: #222;
  background-color: #99e64c;
  border-color: #99e64c;
}

.text-green {
  color: #99e64c
}

.pizza-cart-container {
  display: none;
}