h1 {
  text-align: center;
  color: #e33b7e;
}

hr {
  border-top: 1px solid #201f2e;
}

.card-header h4 {
  margin: 0;
}

h4 i {
  margin-right: 10px;
}

form h4 {
  color: #9085ad;
}

form h5 {
  margin-bottom: 10px;
}

form h5 i {
  margin-right: 10px;
}

form select {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

.cart-hidden {
  display: none;
}

i {
  color: #99e64c
}

.bg-dark-purple {
  background-color: #2f293d
}

.bg-dark-blue {
  background-color: #201f2e;
}

.bg-purple {
  background-color: #5838a8;
}

.text-magenta {
  color: #e33b7e
}

.btn-primary {
  color: #201f2e;
  background-color: #99e64c;
  border-color: #99e64c;
}

.text-green {
  color: #99e64c
}

.pizza-cart-container {
  display: none;
}

.pizza-cart-container:not(:first-of-type) {
  margin-top: 20px;
}

.pizza-cart-container i{
  color: #e33b7e;
}

.cart-shown {
  font-size: 1.5rem;
  color: #52476b
}

.cart-icon {
  font-size: 8rem;
  text-align: center;
}

.bg-icon {
  color: #52476b
}